a {
    text-decoration: none;
}
.col-centered {
    float:none;
    margin: 0 auto;
}

.half-height {
    height: 50%;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.marginless {
    margin-right: 0;
}

.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}.alert h4{margin-top:0;color:inherit}
.alert .alert-link{font-weight:bold}
.alert>p,.alert>ul{margin-bottom:0}
.alert>p+p{margin-top:5px}
.alert-dismissable{padding-right:35px}.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847}.alert-success hr{border-top-color:#c9e2b3}
.alert-success .alert-link{color:#356635}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad}.alert-info hr{border-top-color:#a6e1ec}
.alert-info .alert-link{color:#2d6987}
.alert-warning{background-color:#fcf8e3;border-color:#faebcc;color:#c09853}.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning .alert-link{color:#a47e3c}
.alert-danger{background-color:#f2dede;border-color:#ebccd1;color:#b94a48}.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#953b39}

/****************************************************/
#header {
    background: #000;
    color:#FFF !important;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
    letter-spacing: inherit;
}

#navigation>nav{
    background: #000000;
}

#navigation>nav ul {
    text-align: center;
}

#navigation>nav li a{
    color: #FFFFFF;
    font-size: 1.3em;
}

#navigation>nav .pure-menu-selected a {
    color: #ffb809;
    background: none;
}

#login-panel {
    height: inherit;
}

.search-form {
    height: 50%;
    display: table;
}
.search-bar {
    display: table-cell;
    vertical-align: bottom;
}
.search-input {
   transition: width 1s !important;
   width:inherit;
}
/*.search-input:focus {
    width:100%;
}*/

.sort-articles-form .input {
    width: 100%;
}
/***************************************************/
#main {
    margin: 0 auto;
    /*letter-spacing: inherit;*/
    padding-top: 35px;
}
    #toolbar-main {
        padding-top: 30px;
        font-size:1.1em;
        font-weight: bold;
    }

#menu-categories {
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow:0 1px 2px rgba(0, 0, 0, 0.6)
}
    #menu-categories>h5 {
        background: #e89700;
        margin-top:0;
        color:#FFFFFF;
        padding-left:5px;
    }

    #menu-categories menu,
    #menu-categories ol,
    #menu-categories ul {
        padding-left: 10px;
    }
    #menu-categories li {
        padding-bottom: 2px;
        padding-top: 2px;
        border-bottom: 1px solid #FFFFFF;
    }
    #menu-categories a {
        color:#FFFFFF;
        padding: 0;
    }

/**/
    .category-header {
        width: 100%;
        border-bottom:2px solid #000000;
    }
    .article-preview {
        margin-top: 5px;
        margin-bottom: 25px;

    }
        .article-preview address{
            display:inline;
            font-size:1.2em;
        }
    
    .thumbnail-article-preview {
        border-bottom:2px solid #000000;
        padding-bottom:10px;
        display:block;
        width:250px;
        height:250px;
    }

    .view-all {
        font-size:3em;
        border-left: 3px dashed #000000;
        height: 6em;
        text-transform: uppercase;
        text-align: center;
    }
    .view-all a {
        display:block;
        text-decoration: none;
        color:#000000;
    }
    .view-all a:hover {
        cursor: pointer;
    }

#footer {
    margin-top:150px;
}
#footer menu{
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}
#footer menu a {
    color:#FFFFFF;
}


/*ARTICLE*/
.article-image {

}
.article-datebar {
    margin-top: 10px;
}
    .article-datebar time {
        font-size: 1.2em;
        font-weight: bold;
    }
.article-likes {

}
    .article-likes .like, .article-likes .dislike {
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
        text-decoration: none;
    }
.article-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.article-header h1{
    margin: 0;
    font-size: 3em;
}
.article-header h2 {
    margin: 0;
    font-size: 1.5em;
}
.article-header address {
    margin-top: 10px;
}
.article-content {
    padding-bottom: 15px;
}

.comment-heading {
    padding-left: 10px;
}
    .comment-poster {
        margin:0;
    }
.comment-content {
    padding-left: 10px;
}

/**/
.multimedia-thumbnail {
    display: inline-block;
}
.video-thumbnail {
    width: 80px;
    height: 50px;
    display: table;
    position: relative;
    vertical-align: middle;
}
.video-thumbnail-icon {
    color: #ffb809;
    position: absolute;
    top: 0;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: inherit;
}

.blueimp-gallery .modal {
    overflow-y: hidden;
}

.admin-header {
    background: #dff0d8;
    color: #468847;
    padding-top: 5px;
    padding-bottom: 10px;
    min-height:45px;
}
.video-js {
    margin:0 auto;
    width: 100%;
}

